<mat-card class="container-lg">
    <mat-drawer-container class="example-container">

        <mat-drawer  mode="side" opened>
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <br>
        <mat-drawer-content>

            <div class="main-content">
                <br>
                <div class="container-fluid">
                    <div class="row ">
                        <mat-card class="col-lg-3 col-md-6 col-sm-6" >
                            <div>
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">assignment</i>
                                        </div>
                                        <p class="card-category">Classes</p>
                                        <h3 class="card-title"> 
                                            <small>Questionaires</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <a>
                                            <div >
                                                <i class="material-icons">assignment</i>
                                                <a href="class">View Classes </a>
                                            </div>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Events</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Faculty</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <br>
                        <mat-card class="col-lg-3 col-md-6 col-sm-6">
                            <div >
                                <div class="card border-primary bg-white mb-3">
                                    <div class="card-header bg-white card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <p class="card-category">Screens</p>
                                        <h3 class="card-title"> 
                                            <small>Screens</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer border-primary bg-white mb-3 text-black">
                                        <div class="stats">
                                            <i class="material-icons">group</i>
                                            <a href="employees">View Employees</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <br>
                    </div>
                    <br> 
                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</mat-card>