<br>
<br>
<div class="shadow container-lg">
    <mat-drawer-container class="example-container bg-white">
        <br>
            <div class="container-fluid main-content bg-white">
                <br>
                <h1>Belgium Campus Classrooms </h1>

                <div class="">

                    <div>
                        <button type="button" class="btn btn-primary" (click)="addClass()">Add ClassRoom </button>
                        
                    </div>
                    <br>
                    <div class="row">
                        <ul class="row">
                            <li class="row">
                                        <div class="col-xl-3 col-sm-6 col-sm-6" role="listitem" *ngFor="let class of classRooms">
                                            <div class="shadow card bg-body rounded mb-3">
                                                <div class="card-header bg-white card-header-icon">
                                                    <div class="card-icon "><i class="material-icons ">school</i></div>

                                                    <h1 class="card-category">{{class.className}}</h1>
                                                    <h2 class="card-title"><small>{{class.classIP}}</small></h2>
                                                    <a [routerLink]="['updateclass', class.classID]" class="btn btn-warning">Update</a>
                                                </div>
                                                <div class="card-footer bg-white mb-3 text-black">
                                                    <div> <a [routerLink]="['viewclass',class.classID]" > <i class="material-icons col-md-6">school</i><a type="button" class="btn btn-primary">View ClassRoom</a></a> &nbsp;  <a type="button" class="btn btn-danger">Delete</a> </div>
                                                </div>
                                            </div>
                                        </div>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
    </mat-drawer-container>
</div>