<mat-card class="container-lg">
    <mat-drawer-container class="example-container">

        <mat-drawer  mode="side" opened>
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <br>
        <mat-drawer-content>
            <div class="main-content bg-white">
                <br>
                <h1>Belgium Campus Classrooms </h1>

                <div class="container-fluid">

                    <div class="row">

                        <ul class="row">
                            <li class="row">
                                <br>
                                    <mat-card class="col-lg-3 col-md-6 col-sm-6" >
                                        <div>
                                            <div class="card border-primary bg-white mb-3">
                                                <div class="card-header bg-white card-header-icon">
                                                    <div class="card-icon"><i class="material-icons">school</i></div>

                                                    <p class="card-category">Beta</p>
                                                    <h3 class="card-title"><small>Questionaires</small></h3>

                                                </div>
                                                <div class="card-footer border-primary bg-white mb-3 text-black">
                                                    <div> <a href="questions"> <i class="material-icons">school</i> View Questionaire </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                <br>
                            </li>
                        </ul>
                    </div>
                    <br> 
                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</mat-card>