<br>
<div class="shadow container-lg">
    <br>
    <h1>Please select Object with problem</h1>
    <div class="row">
        <ul class="row">
            <li class="row">
                <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;" role="listitem" >
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"><mat-icon>desktop_windows</mat-icon></div>
                        <mat-card-title> Computers</mat-card-title>
                        <mat-card-subtitle> ThinClients </mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <img mat-card-image src="../../assets/Images/desktopIcon.png">
                      </mat-card-content>
                </mat-card>
            </li>
        </ul>
    </div>
</div>