<mat-card class="container">
    <mat-drawer-container>
        <br>
        <mat-drawer-content class="container bg-white">
            <br>
            <h1>Welcome To {{classRoom.className}}</h1>
            <h2>IP address is {{classRoom.classIP}}</h2>
            <br>
            <a href="classes" class="btn btn-warning">Exit</a>
            <br>
            <br>
            
                <form class="row g-3" [formGroup]="classRoomInfoForm">
                    <div class="col-auto">
                      <h2>Update Class Name</h2>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="inputclassName" placeholder="Hello World" formControlName="className">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3" (click)="UpdateClassName()">Update</button>
                    </div>
                    <br>
                    <div class="col-auto">
                      <h2>Update ip address</h2>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="inputclassName" placeholder="192.168.111.201" formControlName="classIP">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3" (click)="UpdateClassRoom()">Update</button>
                    </div>
                  </form>
        
            <div class="row">
                <ul class="row">
                    <li class="row">
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>desktop_windows</mat-icon></div>
                                <mat-card-title> Computers</mat-card-title>
                                <mat-card-subtitle> {{classRoom.classComputer}} Student ThinClients </mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/thinClient.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <input type="text" class="form-control" id="inputclassComputer" placeholder="0" formControlName="classComputer">
                                  </div>
                                  <div class="col-auto">
                                    <button type="submit" mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>tv</mat-icon></div>
                                <mat-card-title> Screens</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classScreens}} Student Screens</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/studentMonitor.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classScreens">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>mouse</mat-icon></div>
                                <mat-card-title>Mouses</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classMouses}} Student Mouses</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/studentMouse.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classMouses">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>keyboard</mat-icon></div>
                                <mat-card-title>Keyboards</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classKeyboards}} Student Keyboards</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/studentKeyboard.png">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classKeyboards">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>laptop_mac</mat-icon></div>
                                <mat-card-title>Lecturer PC </mat-card-title>
                                <mat-card-subtitle>{{classRoom.lecturerPC}} Lecturer Pcs</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/lecturerPC.png">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="lecturerPC">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>desktop_mac</mat-icon></div>
                                <mat-card-title>Lecturer Screens</mat-card-title>
                                <mat-card-subtitle>{{classRoom.lecturerScreens}} Lecturer Screens</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/lecturerScreen.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="lecturerScreens">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>tv</mat-icon></div>
                                <mat-card-title>ClassRoom TVs</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classTVs}} ClassRoom TVs</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/classRoomTV.png">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classTVs">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>settings_remote</mat-icon></div>
                                <mat-card-title>TV Remote</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classTVRemotes}} ClassRoom TV Remotes</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/classRoomTVRemote.png">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classTVRemotes">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>scanner</mat-icon></div>
                                <mat-card-title>Network Servers</mat-card-title>
                                <mat-card-subtitle>{{classRoom.classServers}} Network Servers</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/classServer.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="classServers">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>microphone</mat-icon></div>
                                <mat-card-title> Micro Phones </mat-card-title>
                                <mat-card-subtitle>{{classRoom.micrphones}} Microphones</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/classMicrophone.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="micrphones">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                        <mat-card class="shadow col-xl-2 col-sm-6 col-sm-6" style="margin: 1%;">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"><mat-icon>cast_for_education</mat-icon></div>
                                <mat-card-title>Projector</mat-card-title>
                                <mat-card-subtitle>{{classRoom.projectors}} Projectors</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <img mat-card-image src="../../assets/Images/classProjector.jpg">
                              </mat-card-content>
                              <mat-card-actions>
                                <form class="row g-3" [formGroup]="classRoomInfoForm">
                                  <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Enter Value</label>
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="0" formControlName="projectors">
                                  </div>
                                  <div class="col-auto">
                                    <button mat-raised-button (click)="UpdateClassRoom()">Update</button>
                                  </div>
                                </form>
                              </mat-card-actions>
                        </mat-card>
                    </li>
                </ul>

            </div>


        </mat-drawer-content>
    </mat-drawer-container>

</mat-card>