<div>
    <br>
    <br>
    <mat-nav-list>
        <br>
        <h2 matSubheader style="color:red"><mat-icon> map </mat-icon> &nbsp; LOCATIONS</h2>
        <mat-list>
            <a href="pretoria">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>location_city</mat-icon> &nbsp; Pretoria </mat-list-item>
            </a>
            <br>
            <a href="kempton">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>location_city</mat-icon> &nbsp; Kempton Park </mat-list-item>
            </a>
            <br>
            <a href="stellenbosch">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>location_city</mat-icon> &nbsp; Stellenbosch </mat-list-item>
            </a>
            <br>
            <a href="zambia">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>location_city</mat-icon> &nbsp; Zambia </mat-list-item>
            </a>
            <br>
        </mat-list>
        <br>
        <h2 matSubheader style="color:red" ><mat-icon> dashboard </mat-icon> &nbsp; Main Menu </h2>
        <mat-list>
            <a href="classes">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>school</mat-icon> &nbsp; Classes </mat-list-item>
            </a>
            <br>
            <a href="home">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>events</mat-icon> &nbsp; Events </mat-list-item>
            </a>
            <br>
            <a href="home">
                <mat-list-item style="color:goldenrod" class="shadow"><mat-icon>groups</mat-icon> &nbsp; Faculty </mat-list-item>
            </a>
        </mat-list>
        
    </mat-nav-list>
</div>