<div>
    <mat-nav-list>
        <h2 matSubheader >APPLICATIONS</h2>
        <mat-list>
            <a>
                <mat-list-item><mat-icon>school</mat-icon> &nbsp; Classes </mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>desktop_windows</mat-icon> &nbsp; Computers</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>tv</mat-icon> &nbsp; Screens</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>mouse</mat-icon> &nbsp; Mouses</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>keyboard</mat-icon> &nbsp; KeyBoards</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>laptop_mac</mat-icon> &nbsp; Lecturer PC</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>desktop_mac</mat-icon> &nbsp; Lecturer Screens</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>tv</mat-icon> &nbsp; TVs</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>settings_remote</mat-icon> &nbsp; TV Remote</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>scanner</mat-icon> &nbsp; Servers</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>microphone</mat-icon> &nbsp; Microphones</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>cast_for_education</mat-icon> &nbsp; Projector</mat-list-item>
            </a>
        </mat-list>
    </mat-nav-list>
</div>