<div>
    <mat-nav-list>
        <h2 matSubheader >APPLICATIONS</h2>
        <mat-list>

            <a>
                <mat-list-item><mat-icon>dashboard</mat-icon> Dashboard</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>desktop_windows</mat-icon> Computers</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>tv</mat-icon> Screens</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>mouse</mat-icon> Mouses</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>keyboard</mat-icon> KeyBoards</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>laptop_mac</mat-icon> Lecturer PC</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>desktop_mac</mat-icon> Lecturer Screens</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>tv</mat-icon> TVs</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>settings_remote</mat-icon> TV Remote</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>scanner</mat-icon> Servers</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>microphone</mat-icon> Microphones</mat-list-item>
            </a>
            <a>
                <mat-list-item><mat-icon>cast_for_education</mat-icon> Projector</mat-list-item>
            </a>
        </mat-list>
    </mat-nav-list>
</div>