<br>
<br>
<mat-card class="container bg-primary text-center" style="width: 300px; ">
    <div class="text-center">
        <br>
        <mat-progress-bar mode="indeterminate" value="white"></mat-progress-bar>
        <br>
        <a>
            <mat-card class="col-lg-6 col-md-6 col-sm-6 border-white" style="width: 260px;">
                <mat-icon class="material-icons">school</mat-icon>
                <h1>
                    Classes
                </h1>
            </mat-card>
        </a>
        <br>
        <mat-progress-bar mode="indeterminate" value="white"></mat-progress-bar>
        <br>
        <a>
            <mat-card class="col-lg-6 col-md-6 col-sm-6 border-white" style="width: 260px;">
                <mat-icon>events</mat-icon>
                <h1>
                    Events
                </h1>
            </mat-card>
        </a>
        <br>
        <mat-progress-bar mode="indeterminate" value="white"></mat-progress-bar>
        <br>
        <a>
            <mat-card class="col-lg-6 col-md-6 col-sm-6 border-white" style="width: 260px;">
                <mat-icon>groups</mat-icon>
                <h1>
                    Faculty
                </h1>
            </mat-card>
        </a>
        <br>
        <mat-progress-bar mode="indeterminate" value="white"></mat-progress-bar>
        <br>
    </div>
        
</mat-card>